@import "src/sass/variables";

.profileGlobalBlock {

  .preloaderBlock {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileBlock {
    display: flex;
    flex-direction: column;
    background-color: $purpleColor2;
    border-radius: 4px;
  }
}


