@import "src/sass/variables";

.postBlock {
    margin-top: 10px;
    background-color: #E2DEFF;
    border-radius: 4px;
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.addPost {
    background-color: #FF7F66;
    color: white;
}

.textarea {
    background-color: #F1F3FF;
}

