@import "src/sass/variables";

.header {
  background-color: $purpleColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  border-radius: 4px;

  .loginBlock {
    float: right;
    color: white;
    margin-right: 7px;

    a {
      color: white;
      text-decoration: none;
    }

    .auth {
      display: flex;
      align-items: center;

      .btn {
        background-color: $orangeColor;
        color: white;
        border-radius: 4px;
        padding: 3px;
        margin-left: 5px;
      }
    }
  }
}
